In [3]:
%cd "C:\Users\cjfgh\vscode\LG-CNS\Han\weight_update\new weight"

C:\Users\cjfgh\vscode\LG-CNS\Han\weight_update\new weight

In [4]:
%load_ext autoreload
%autoreload 2

from util_0704 import *
from myalgorithm import algorithm

import pandas as pd


import matplotlib as mpl
from matplotlib import pyplot
import numpy as np
import seaborn as sns

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

### 제출본

In [6]:
import pandas as pd

result=[]
timelimit = 60
for i in range(1, 19):
    problem_file = f"C:/Users/cjfgh/vscode/LG-CNS/@shared/testfile/STAGE1_{i}.json"
    with open(problem_file, 'r') as f:
        prob = json.load(f)

    K = prob['K']

    ALL_ORDERS = [Order(order_info) for order_info in prob['ORDERS']]
    ALL_RIDERS = [Rider(rider_info) for rider_info in prob['RIDERS']]

    DIST = np.array(prob['DIST'])

    solution = algorithm(K, ALL_ORDERS, ALL_RIDERS, DIST, timelimit)
    
    with open(problem_file, 'r') as f:
        prob = json.load(f)
        K = prob['K']
        ALL_ORDERS = [Order(order_info) for order_info in prob['ORDERS']]
        ALL_RIDERS = [Rider(rider_info) for rider_info in prob['RIDERS']]
        DIST = np.array(prob['DIST'])
        for r in ALL_RIDERS:
            r.T = np.round(DIST/r.speed + r.service_time).astype(int)

    
        checked_solution = solution_check(K, ALL_ORDERS, ALL_RIDERS, DIST, solution)

    result.append(checked_solution['avg_cost'])
    print(f"STAGE1_{i}.json: {checked_solution['avg_cost']}")

df=pd.DataFrame(result, index=(range(1,19)))

[['BIKE', [28, 11, 0, 10], [0, 11, 28, 10]], ['CAR', [1, 41], [1, 41]], ['CAR', [17, 2], [17, 2]], ['CAR', [3], [3]], ['CAR', [4, 13, 9], [4, 13, 9]], ['CAR', [5, 26], [5, 26]], ['BIKE', [29, 47, 6], [6, 29, 47]], ['BIKE', [7, 18, 8], [8, 7, 18]], ['CAR', [46, 14], [46, 14]], ['CAR', [15, 23, 34, 20], [15, 23, 20, 34]], ['BIKE', [45, 16, 40, 35], [35, 16, 45, 40]], ['BIKE', [21, 38, 62, 58], [21, 58, 38, 62]], ['BIKE', [24, 30, 63], [24, 30, 63]], ['BIKE', [25, 52, 66, 50], [52, 25, 50, 66]], ['CAR', [57], [57]], ['CAR', [43, 48, 31], [48, 43, 31]], ['BIKE', [42, 53, 54], [54, 42, 53]], ['BIKE', [37, 33, 32], [32, 33, 37]], ['CAR', [51, 44, 36], [51, 44, 36]], ['CAR', [39, 55], [39, 55]], ['CAR', [49, 59], [59, 49]], ['CAR', [56, 70], [56, 70]], ['CAR', [65, 60], [65, 60]], ['CAR', [61, 82], [82, 61]], ['BIKE', [74, 64, 86, 93], [86, 64, 93, 74]], ['BIKE', [67, 73, 72], [72, 67, 73]], ['BIKE', [68, 75, 92, 81], [75, 68, 81, 92]], ['CAR', [69, 83], [69, 83]], ['BIKE', [77, 80, 71], [71, 77, 80]], ['CAR', [97], [97]], ['CAR', [89, 76], [89, 76]], ['CAR', [90, 78, 84], [90, 84, 78]], ['CAR', [79, 98, 85], [79, 98, 85]], ['CAR', [87, 88], [87, 88]], ['CAR', [91, 99], [99, 91]], ['CAR', [94, 95], [95, 94]], ['CAR', [96], [96]], ['BIKE', [22, 12], [22, 12]], ['BIKE', [19, 27], [19, 27]]]
Best cost: 3790.6079999999997
Best weights: [ 1 -1  1]
STAGE1_1.json: 3790.6079999999997

In [32]:
print(f"total mean:{df.mean()}")
print(f"평균 이상 케이스 평균:{df[df>=df.mean()].mean()}") 
print(f"평균 이하 케이스 평균:{df[df<=df.mean()].mean()}")

total mean:0    3315.982769
dtype: float64
평균 이상 케이스 평균:0    3882.666889
dtype: float64
평균 이하 케이스 평균:0    2749.298648
dtype: float64

In [33]:
df

              0
1   3790.608000
2   3369.778000
3   3047.829500
4   2699.685500
5   2338.156333
6   2674.389667
7   3510.656000
8   3231.938000
9   3177.473500
10  2567.313000
11  2489.754667
12  2517.147667
13  5031.158000
14  4250.552000
15  4389.129500
16  3359.662500
17  3613.234333
18  3629.223667